.character-detail {
    min-width: 65%;
    padding: 50px 35px;
}

.character-detail .empty {
    align-items: center;
    color: #c0c0c0;
    display: flex;
    font-size: 25px;
    justify-content: center;
}

.character-detail .title {
    font-size: 36px;
    margin: 25px 0;
}

.character-detail .links {
    display: flex;
    flex-direction: column;
}

.character-detail .links a {
    color: #006eff;
    display: block;
    margin-top: 15px;
    text-decoration: none;
}

.character-detail .links a:hover {
    color: #004195;
}